#slideshow {
    position:relative;
    height:500px;
    width:100%;
    
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    height:500px;
    width:100%;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}
#body_content div
{
background:rgba(28, 48, 57, 1);
border-radius:3%;
margin-left:0.1%;
}

#quote
{
position:relative;
color:white;
}

#top_pic
{position:absolute;}

.homedock
{
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
filter:alpha(opacity=80);
-moz-opacity:0.8;
-khtml-opacity:0.8;
opacity:0.8;
color:white;
text-align:center;
float:left;
margin-right:5px;
width:19%;
height:80%;
overflow:auto;
position:relative;
}
.submenu
{
display:none;
}
