{%extends 'college_template.html'%}
{%block header%}
	{%load static%}
	<link rel="stylesheet" type="text/css" href="{% static "college/css/clg_admin.css"%}"></link>

{%endblock%}

{%block body%}

	{%for category in administration_categories%}
		<div class='category'>
			<h5>{{category.name}}</h5>
			{%for person in category.members%}
			<div class='person'>
				{%if person.userprofile.picture%}
					<img alt='' src='{{person.userprofile.picture.url}}'></img>
					<br>
				{%endif%}
				{%if person.firstname%}
					{{person.firstname}} {{person.lastname}}
				{%else%}
					{{person.username}}
				{%endif%}
			</div>

			{%endfor%}
		<hr>
		</div>
		
	{%endfor%}
{%endblock%}
