{%extends 'college_template.html'%}

{%block header%}
{% load staticfiles%}
	{%if notice%}
		<link rel="stylesheet" type="text/css" href='{% static "rss/notice.css"%}'>
	{%elif notifications%}
		<link rel="stylesheet" type="text/css" href='{% static "rss/notice_board.css"%}'>
	{%endif%}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>  
{%endblock%}

{%block body%}
{%if notice%}
<div class='notice'>

		

		<h3>{{notice.title}}<p class='subtext'>
		<i>{{notice.pub_date|date:'d F Y'}}</i></p><hr></h3>

		{{notice.description}}
		
		{%if notice.associated_file%}
			<hr>
			<a href='/{{notice.associated_file.url}}' target='_blank'>Document Link</a>
		{%endif%}
</div>
{%endif%}
{%if notifications%}

	{%for notice in notifications%}
		<div class='notice'>
			<h3>{{notice.title}}<p class='subtext'>
			<i>{{notice.pub_date|date:'d F Y'}}</i></p><hr></h3>

			{{notice.description|truncatewords:'10'}}
		
			{%if notice.associated_file%}
				<hr>
				<a href='/{{notice.associated_file.url}}' target='_blank'>Document Link</a>
			{%endif%}
		</div>
	{%endfor%}
{%endif%}
{%endblock%}
