{%extends 'college_template.html'%}

{%block header%}

{%endblock%}
{%block body%}
<pre>

<h1> WHY THE IMBH COURSE?</h1>
<div>

MAN is neither mere intellect, nor the gross animal body, nor the heart or soul 
alone. A proper and harmonious combination of all the three is required for the 
making of the whole man and constitutes the true economics of education. Harijan : Dec. 19, 1938.

 The course outline of the IMBH course comprises a few episodes from the life of 
 Gandhi, selected for their appropriateness in illustrating the beauty and strength 
 of an integrated life. It is obvious from Gandhiji’s statement quoted above that 
 living an integrated life was the core of Gandhiji’s spiritual discipline. Gandhi 
 realized that ‘godliness’ involves integration of all aspects of a person’s being, 
 as opposed to a compartmentalized or un-integrated life in which we are at war 
 with ourselves.

 The all-important issue here is the purpose of education. To Gandhiji it is 
 “the making of the whole man”. Integrating Body, Mind and Heart becomes an 
 imperative only from this perspective. If our educational goal is to only to 
 enhance employability and material success in life, then the same course could 
 seem a superfluous encumbrance.

 Given Gandhi’s unwavering pursuit of Truth and his exaltation of Truth to the 
 status of the divine, it is inevitable that the integration of the Body, Mind 
 and Soul was the hallmark of his life. “Integration” is the path to wholeness 
 or completeness. Truth is a function of the whole. What is partial falls short 
 of the scope and stature of Truth. Those who lack integration can neither seek 
 nor adhere to Truth, despite their intentions. Conversely, the quest for Truth, 
 if Gandhiji’s life is any indication, brings bout the integration of Body, Mind and Soul.

Put simply, the Body is the medium through which Mind and Soul express themselves. 
You may have the most sublime ideas. But unless you express or share those ideas
 with others through the spoken or written word, they remain unborn. Speaking and 
 writing involve integration of Body and Mind. At the higher levels the Soul too 
 is involved. You may have the noblest of sentiments. But the light of the Soul 
 needs to be expressed through the Body, say, as actions of compassion or principled 
 responses to the world around. Ideals are nothing if they are not embodied 
 through action, which involves integration of all dimensions of one’s being. 
 We express ourselves through integration. The goodness and greatness of our 
 expressions depend on the extent of our integration as human beings.  

Integration is the secret of human growth and development. In an under-developed 
state, we lack harmony and integration among the three dimensions of our being.  
The failures in the early years of his life that Gandhiji confesses to, attest 
this. Failures result from inadequate integration. When the Mind and Body are not 
tempered by the power of the Soul, instincts and impulses get the better of us. 
In such a state we do what we should not be doing (Gandhiji smoking and pilfering, 
being examples) and fail to do what we should be doing. Lack of integration makes 
us vulnerable and we succumb to the feeblest of pressures. Peer-pressure is a case 
in point. Often not much ‘pressure’ has to be applied to make a person succumb. 
Those who are on the way to being integrated are, in comparison, less vulnerable 
and more steadfast.

Another mark of an integrated person, according to Gandhi, is the spirit of service. 
Surely, this insight is of utmost significance for all times; especially for our times. 
In stark contrast to Gandhi, the educated individuals today disdain to serve! 
Such people are not grown up enough to know that this allergy to, and awkwardness 
about, service stems from a poor integration of their being. Those who are 
integrated in their Body, Mind and Soul find joy and fulfillment in service. 
As Gandhi says in his Autobiography, few pleasures and possessions can compare 
with the joy afforded by service rendered voluntarily and joyfully.

Integration holds the key to fulfillment in life. Nothing worthwhile can be achieved 
by a person who lacks integration and, therefore, lacks integrity too. If the Body, 
Mind and Soul pull in different directions, the result can only be paralysis! 
Arguably, far too many of the beneficiaries of education today are in this state 
of response-paralysis. This is the reason why life at the present time is riddled 
with boredom, depression and unfulfilment. The problem is not that people do not 
achieve or acquire much. The real problem is that they are not integrated human 
beings. According to Gandhiji, those who lack integration are incapable of ‘contentment’. 
Life is unbearable without contentment. Contentment has little to do with the 
quantity of one’s possessions. It is a matter of the quality of one’s being, resulting 
from the integration of its various aspects.   

Integration is also the secret of endurance. No one acquainted with the outlines 
of Gandhi’s life has to be persuaded that he endured and overcame the most difficult 
ordeals because of his ‘character and soul force’. This force stems from the logic 
and dynamic of integration. Integration activates latent energies and qualities. 
It is like two atoms of Hydrogen and one atom of Oxygen combining (we can say, 
‘integrating’) to form a molecule of water. Integration activates ‘emergent properties’; 
that is, properties and potencies that were not available or evident till then. 
The concept of “charisma” is akin to this. There are two types of ‘charisma’ 
–personal and institutional. We are living at a time when personal charisma is 
at its lowest and institutional charisma is all that we are left with. People 
derive their power and personal worth from institutions or structures. The more 
they lack integration as persons the more they have to depend on institutions. 
Here again, there are two possibilities. The person concerned may relate to 
institutions and structures within the model of integration. (That is, he/she 
may get identified with the institution.) But that option is open only to those 
who are oriented to integration. Lacking this, they will become mere parasites. 
What they will have, then, is not ‘institutional charisma’ but institutional 
power and perks. (The latter includes, among other things, the opportunity and 
right to indulge in corruption; corruption being a sign of un-integration.)

The hallmark of an educated and wholesomely developed human being is the integration 
of his/her Body, Mind and Soul. But thereby hangs a tail!

It is not fashionable to talk of Soul in this age of strident secularism. 
The last thing we are free to have, it seems, is Soul. So we are a Body-Mind combine.
But even in this truncated model there is still a problem. To be a Body-Mind “combine” 
you have to live the paradigm of integration! If you don’t, you can only be a 
Body-Mind Mixture! There will be, in that event, no point of coherence in you. So, we 
become Jekyll (Body) and Hyde (Mind). We are a Body in some contexts and a Mind 
in others. That is why education, if you like, has come to be what it is. No place 
for the Body (leave alone the Soul!) in the learning process. Only the disembodied 
Mind is involved. Is it any wonder that the spirit of service evaporates under 
the heat of such an enterprise? From here we proceed to the next cardinal mistake. 
We think we can redeem education by increasing the course contents! No we can’t. 
What is needed is a reorientation of education. Nothing less will do. Gandhi lays 
supreme emphasis on promoting the spirit of service through education. If the 
spirit of service, fortified by the spirit of caring, is not developed in a 
human being, he/she will become a parasite or a thief.

 I would refer those who are embarrassed about the spiritual core of education 
 to poet Kabir. “Before me stand,” says Kabir, “Guru and God/ Who shall I first 
 pay obeisance to?/ I will fall, first, at the feet of my Guru/ For it is he who 
 has turned me to God.” Herein lies the secret of the respect that a teacher does 
 or does not command. This is not a matter of religiosity. It is a matter of the 
 Spirit that transcends all religious agendas and establishments.

 Finally, it will be a great pity if the IMBH course is taught by those who do 
 not have a passionate conviction about its relevance or are not excited about 
 its scope, which, I understand, is the case in some colleges. This is regrettable. 
 Instead, the best of teachers should handle this course! Institutions that take 
 the meaning and purpose of education seriously will do nothing less!

 

Rev. Dr. Valson Thampu
PRINCIPAL 
</div>
</pre>
	
{%endblock%}

