{%extends 'college_template.html'%}


{%block header%}
	{%load static%}
	<link rel="stylesheet" type="text/css" href="{% static "attendence/home.css"%}"></link>
	<script type='text/javascript' src="{%static 'attendence/Chart.min.js'%}"></script>
	<script type='text/javascript' src="{%static 'attendence/home.js'%}"></script>
	
{%endblock%}


{%block body%}

<input type='hidden' value='{{url}}' id='attendence_url'></input>
<div>
	<select id='course'>
		{%for course in courses%}
			<option value={{course.id}}>{{course.name}}</option>
		{%endfor%}
		
	</select>
	<select id='semester'>
		<option value=1>1</option>
		<option value=2>2</option>
		<option value=3>3</option>
		<option value=1>4</option>
		<option value=1>5</option>
		<option value=1>6</option>
		
	</select>
	<button id='get_attendence'>Get Attendence</button>
	{{error}}
</div>


{%if class_attend%}
	<hr>
	<div id='tabs'>
		
		{%regroup class_attend by student as student_list%}
		
		<div id='namecloud'>
			{%for student in student_list%}
				<a href='#'id='{{forloop.counter}}'>{{student.grouper}}</a>
			{%endfor%}
		</div>
		{%regroup class_attend by paper_attend.paper as paper_list%}
		<div id='chart_dock'>
			<table>
			<thead>
				<td>Paper</td>
				<td>Lecture</td>
				<td>Tutorial</td>
				<td>Practical</td>
			</thead>
			<tbody>
			{%for paper in paper_list%}
				<tr>
					<td>{{paper.grouper}}</td>
					<td><canvas id="chart-{{paper.grouper|slugify}}_l" width=100 height=100 /></td>
					<td><canvas id="chart-{{paper.grouper|slugify}}_t" width=100 height=100 /></td>
					<td><canvas id="chart-{{paper.grouper|slugify}}_p" width=100 height=100 /></td>
				</tr>
			{%endfor%}
			</tbody>
			</table>
		</div>
		<script>
		var le=[attended,missed];
		var t=[attended,missed];
		var p=[attended,missed];
			{%for student in student_list%}
			var stu_data={};
				{%for rec in student.list%}
					le[0].value={{rec.month1.lecture}};
					le[1].value={{rec.paper_attend.month_total_1.lecture}}-{{rec.month1.lecture}};
					t[0].value={{rec.month1.tutorial}};
					t[1].value={{rec.paper_attend.month_total_1.tutorial}}-{{rec.month1.tutorial}};
					p[0].value={{rec.month1.practical}};
					p[1].value={{rec.paper_attend.month_total_1.practical}}-{{rec.month1.practical}};
					console.log(le[0],le[1],t[0],t[1],p[0],p[1]);
					console.log('-------------------------');
					stu_data['{{rec.paper_attend.paper|slugify|cut:'-'}}']={'lec':le,'tut':t,'prc':p};
				{%endfor%}
				classdata.push(stu_data);
			{%endfor%}
		var opt={scaleFontColor: "black"};
		{% for paper in paper_list%}
			var ctx_l = $("#chart-{{paper.grouper|slugify}}_l").get(0).getContext("2d");
			var ctx_t = $("#chart-{{paper.grouper|slugify}}_t").get(0).getContext("2d");
			var ctx_p = $("#chart-{{paper.grouper|slugify}}_p").get(0).getContext("2d");
			var data=classdata[0].{{paper.grouper|slugify|cut:'-'}}.lec;
			var  {{paper.grouper|slugify|cut:'-'}}_l= new Chart(ctx_l).Doughnut(data,opt);
			data=classdata[0].{{paper.grouper|slugify|cut:'-'}}.tut;
			var  {{paper.grouper|slugify|cut:'-'}}_t= new Chart(ctx_t).Doughnut(data,opt);
			data=classdata[0].{{paper.grouper|slugify|cut:'-'}}.prc;
			var  {{paper.grouper|slugify|cut:'-'}}_p= new Chart(ctx_p).Doughnut(data,opt);
		{%endfor%}
		</script>
		
				
	</div>
{%endif%}
{%endblock%}
