{%extends 'college/society_home.html'%}
{%block society_page%}
<div>
<pre>
The year for the society started with a two day departmental trip to McLeodganj
on the 21st and 22nd of August. The pack of 42 lead by Mr. Washington, took an 
excursion to the Dalai Lama temple and went around sipping tea and munching pan
cakes, cheese pastas, lasagnes, croissants among other delectable delights at 
wonderful Irish and German cafes which the place was dotted with. The exciting
part would also count the waterfall, and the bonfires.

The most important event on our calendar would be the annual festival 
‘Confluence’ held on the 27th and 28th of December, 2008. Marked by the 
theme of ‘Development and Disparity’, the first day of the event began with
an inaugural speech by noted journalist Praful Bidwai. The seminar also 
saw the release of Politics Inter Alia (PIA) the B.A. Society Journal. With
time to time assistance from Advisory editors Sumit Chakravartty 
(Editor, Mainstream), and Srinivasan Ramani (Assistant Editor, Economic and Political Weekly)
the Journal was a remarkable effort by Aparna Mudiam and Anjali Rai as the editor 
and associate editor respectively. Besides a JAM (Just a Minute) competition, 
the first day ended with the much awaited screening of the movie ‘Syriana’.

Day two of the event did not fall short of its share of thrill with an enthusiastic 
response to the quiz competition, a treasure hunt, a much acclaimed photo competition 
and a panel discussion with noted scholars such as Amit Bhaduri (Professor, JNU) and 
Ashok Choudhary (Human Rights Activist). The most noted event of the festival was the 
puppet show by Katkatha Arts Trust, which saw a houseful attendance and an unprecedented 
acclaim by the audience. Thus the festival ended on a high note.

     The last event of the Society for the academic year was in the third term, 
     in collaboration with the American Embassy to mark the swearing-in of Barack Obama 
     as president of United States of America. Held on the 20th of January, 2009 
     the event was commemorated in college with Mr. Sandeep Paul (Second Secretary, US embassy) 
     as the invited guest. 
</pre>
</div>
{%endblock%}

